@using Koala.Yedpa.Core.Dtos
@model IEnumerable<Koala.Yedpa.Core.Models.ViewModels.BudgetRatioListViewModel>
@{
    ViewData["Title"] = "Bütçe Oranları";
    ViewData["ActivePage"] = "BudgetRatioList";
    ViewData["MenuToggle"] = "Site";
    var infoMessage = TempData["InfoMessage"] == null ? "" : TempData["InfoMessage"].ToString();
    var errorMessage = TempData["ErrorMessage"] == null ? "" : TempData["ErrorMessage"].ToString();
}

<div class="d-flex flex-column-fluid">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">

                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                Yedpa Site Yönetimi
                                <span class="d-block text-muted pt-2 font-size-sm">Bütçe/EkBütçe Listesi</span>
                            </h3>
                        </div>
                        <div class="card-toolbar">

                            <!--begin::Button-->
                            <a asp-action="CreateBudget" asp-controller="BudgetRatio" class="btn btn-primary font-weight-bolder">
                                <span class="svg-icon svg-icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <circle fill="#000000" cx="9" cy="15" r="6" />
                                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>Bütçe/Ek Bütçe Tanımla
                            </a>
                            <!--end::Button-->
                        </div>
                    </div>
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(infoMessage))
                        {

                            <div class="alert alert-success" role="alert">
                                @infoMessage
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(errorMessage))
                        {

                            <div class="alert alert-danger" role="alert">
                                @errorMessage
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        }

                        <table class="table table-bordered table-hover" id="ModuleTable" style="margin-top: 13px !important">
                            <thead>
                                <tr>
                                    <th title="Name">Modül Adı</th>
                                    <th title="Description">Görünen Ad</th>
                                    <th title="Description">Modül Açıklaması</th>
                                    <th>Atanmış Yetkiler</th>
                                    <th title="Status">Durum?</th>
                                    <th title="Action">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/assets/js/custom/module-list-page.js"></script>
}
