@model Koala.Yedpa.Core.Models.ViewModels.UpdateAppRoleViewModel
@{
    ViewData["Title"] = "Rol Güncelle";
    ViewData["ActivePage"] = "RoleList";
    ViewData["MenuToggle"] = "User";
}

<div class="d-flex flex-column-fluid">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12">
                <form name="CreateModuleForm" id="CreateForm" asp-action="UpdateRole" asp-controller="AppRole" method="post">
                    <input type="hidden" asp-for="Id" />
                    <div class="card card-custom card-stretch gutter-b">
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Rol Yönetimi</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">Rol Güncelle</span>
                            </h3>
                        </div>
                        <div class="card-body pt-0 pb-3">
                            <div class="tab-content">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="form-group row">
                                    <label asp-for="Name" class="col-md-2 col-form-label">Adı</label>
                                    <div class="col-md-4">
                                        <input class="form-control form-control-sm" asp-for="Name" type="text" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <label asp-for="DisplayName" class="col-md-2 col-form-label">Görünen Ad</label>
                                    <div class="col-md-4">
                                        <input class="form-control form-control-sm" asp-for="DisplayName" type="text" />
                                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                                    </div>
                                    <label asp-for="Description" class="col-md-2 col-form-label">Açıklama</label>
                                    <div class="col-md-12">
                                        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning mr-2">Modül Güncelle</button>
                            <a asp-controller="AppRole" asp-action="Index" class="btn btn-secondary">Vazgeç</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>

