<?xml version="1.0" encoding="utf-8" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="true"
	  internalLogLevel="Info" 

	  internalLogFile="c:\temp\SistemYedpa\nlog-internal.log">


	<variable name="LogDirectory" value="${basedir}/logs/${shortdate}"/>
	<!--<variable name="LogDirectory" value="${gdc:LogDirectory}/${shortdate}"/>-->



	<targets>
		<target name="appLog" xsi:type="File"
						 fileName="${var:LogDirectory}/appLog.json"
						 maxArchiveFiles="50"
						 archiveAboveSize="1048576"
						 archiveEvery="Month">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="aspnetUserIdentity" layout="${aspnet-User-Identity}" />
				<attribute name="Controller" layout="${aspnet-MVC-Controller}" />
				<attribute name="Action" layout="${aspnet-MVC-Action}" />
				<attribute name="Referrer" layout="${aspnet-request-referrer}" />
				<attribute name="UserAgent" layout="${aspnet-request-useragent} " />
				<attribute name="Url" layout="${aspnet-Request-Url}" />
				<attribute name="Message" layout="${message}" />
			</layout>
		</target>

		<target name="InfoLog" xsi:type="File"
					  fileName="${var:LogDirectory}/infoLog.json"
					  maxArchiveFiles="50"
					  archiveAboveSize="1048576"
					  archiveEvery="Month">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="aspnetUserIdentity" layout="${aspnet-User-Identity}" />
				<attribute name="Controller" layout="${aspnet-MVC-Controller}" />
				<attribute name="Action" layout="${aspnet-MVC-Action}" />
				<!--<attribute name="Item" layout="${aspnet-Item}" />-->
				<attribute name="TraceIdentifier" layout="${aspnet-TraceIdentifier} " />
				<attribute name="Host" layout="${aspnet-Request-Host} " />
				<attribute name="IP" layout="${aspnet-request-ip}" />
				<attribute name="Referrer" layout="${aspnet-request-referrer}" />
				<attribute name="UserAgent" layout="${aspnet-request-useragent} " />
				<attribute name="Url" layout="${aspnet-Request-Url}" />
				<attribute name="Message" layout="${message}" />

			</layout>
		</target>

		<target name="errLog" xsi:type="File"
				   fileName="${var:LogDirectory}/errLog.json"
				   maxArchiveFiles="50"
				   archiveAboveSize="1048576"
				   archiveEvery="Month">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="exception" layout="${exception:format=ToString}"/>
				<attribute name="aspnetUserisAuthenticated" layout="${aspnet-User-isAuthenticated}" />
				<attribute name="aspnetUserIdentity" layout="${aspnet-User-Identity}" />
				<attribute name="Controller" layout="${aspnet-MVC-Controller}" />
				<attribute name="Action" layout="${aspnet-MVC-Action}" />
				<!--<attribute name="Item" layout="${aspnet-Item}" />-->
				<attribute name="TraceIdentifier" layout="${aspnet-TraceIdentifier} " />
				<attribute name="Host" layout="${aspnet-Request-Host} " />
				<attribute name="IP" layout="${aspnet-request-ip}" />
				<attribute name="Referrer" layout="${aspnet-request-referrer}" />
				<attribute name="UserAgent" layout="${aspnet-request-useragent} " />
				<attribute name="Url" layout="${aspnet-Request-Url}" />
				<attribute name="Message" layout="${message}" />
				
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Debug"  writeTo="appLog" />
		<logger name="*" minlevel="Info" maxlevel="Warn"  writeTo="infoLog" />
		<logger name="*" minlevel="Error" maxlevel="Fatal"  writeTo="errLog" />
	</rules>
</nlog>
