<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug"
      internalLogFile="c:\temp\KoalaPortal\nlog-internal-api.log">

    <variable name="LogDirectory" value="${basedir}/logs/${shortdate}"/>

    <targets>
        <!-- Console Target (Development için) -->
        <target name="console" xsi:type="ColoredConsole"
                layout="${time:HH:mm:ss.fff} [${level:padding=-5}] ${logger:shortName=true}: ${message} ${exception:format=ToString}" />

        <!-- appLog - Debug seviyesi -->
        <target name="appLog" xsi:type="File"
                fileName="${var:LogDirectory}/appLog.json"
                maxArchiveFiles="50"
                archiveAboveSize="5242880"
                archiveEvery="Month"
                concurrentWrites="true">
            <layout xsi:type="JsonLayout" includeExceptionProperty="true" includeScopeProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}" />
                <attribute name="Url" layout="${aspnet-Request-Url}" />
                <attribute name="Method" layout="${aspnet-request-method}" />
                <attribute name="Message" layout="${message}" />
                <attribute name="EventId" layout="${event-properties:EventId}" />
            </layout>
        </target>

        <!-- InfoLog - Info/Warn seviyesi -->
        <target name="InfoLog" xsi:type="File"
                fileName="${var:LogDirectory}/infoLog.json"
                maxArchiveFiles="50"
                archiveAboveSize="5242880"
                archiveEvery="Month"
                concurrentWrites="true">
            <layout xsi:type="JsonLayout" includeExceptionProperty="true" includeScopeProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}" />
                <attribute name="TraceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="Host" layout="${aspnet-Request-Host}" />
                <attribute name="IP" layout="${aspnet-request-ip}" />
                <attribute name="Url" layout="${aspnet-Request-Url}" />
                <attribute name="Method" layout="${aspnet-request-method}" />
                <attribute name="Message" layout="${message}" />
            </layout>
        </target>

        <!-- errLog - Error seviyesi -->
        <target name="errLog" xsi:type="File"
                fileName="${var:LogDirectory}/errLog.json"
                maxArchiveFiles="100"
                archiveAboveSize="5242880"
                archiveEvery="Month"
                concurrentWrites="true">
            <layout xsi:type="JsonLayout" includeExceptionProperty="true" includeScopeProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}" />
                <attribute name="exception" layout="${exception:format=ToString,Data=maxInnerExceptionDepth=10}" />
                <attribute name="TraceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="Host" layout="${aspnet-Request-Host}" />
                <attribute name="IP" layout="${aspnet-request-ip}" />
                <attribute name="Url" layout="${aspnet-Request-Url}" />
                <attribute name="Method" layout="${aspnet-request-method}" />
                <attribute name="Message" layout="${message}" />
                <attribute name="StackTrace" layout="${stacktrace}" />
            </layout>
        </target>
    </targets>

    <rules>
        <!-- Console - sadece development -->
        <logger name="*" minlevel="Info" writeTo="console" condition="'${environment:ASPNETCORE_ENVIRONMENT}' == 'Development'" />

        <!-- Microsoft loglarını filtrele (Info seviyesinden alta) -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />

        <!-- Uygulama logları -->
        <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="appLog" />
        <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="InfoLog" />
        <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errLog" />
    </rules>
</nlog>
